@font-face {
    font-family: "MontserratRegular"; 
    src: url("fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
    font-family: "MontserratBold"; 
    src: url("fonts/Montserrat-Bold.otf") format("truetype");
}



body {
	font-family:"MontserratRegular";
	font-size: 18px;
	color: #221c89;
	max-width: 100%;
	margin: 50px;
	line-height: 1.5;
	text-align: justify;
}

a {
	color:#221c89;
	text-decoration:none;
}

li { 
 	margin: 0; 
 	padding: 0;
 	list-style-type: none;
 }

ul {
	list-style: none;
	list-style-position: inside;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: "MontserratBold";
	font-size: 50px;
	color: #face55
}

h2 {
	font-family: "MontserratBold";
	font-size: 25px;
	color: #221c89 
}

h3 {
	font-family: "MontserratRegular";
	font-size: 18px;
	color: #face55;
}

h4 {
	font-family: "MontserratRegular";
	font-size: 18px;
	color: #face55 
	text-transform: capitalize;
}

h5 {
	font-family: "MontserratRegular";
	font-size: 18x;
	color:  #808080;	
}

h6 {
	font-family: "MontserratRegular";
	font-size: 21px;
	color: #fdedd4; 
}
 

/*Grille principale*/
.wrapper {
 			display: grid;
 			grid-template-columns: 250px 1fr 1fr ; 
 			grid-template-rows: 150px auto auto auto auto; 
 			grid-row-gap: 0.5rem;
 			grid-template-areas: 
 				"titre titre titre"
 				"photo contact apropos"
 				"experiences experiences experiences"
 				"formations formations formations"
 				"competences competences competences";

}

.titre {
		grid-area: titre;
		text-align: center;
		background-color: #221c89;
		line-height: 0.5;
		
}

.photo {
		grid-area: photo;
		align-items: left;
}

.contact {
		grid-area: contact;
		
}

.apropos {
		grid-area: apropos;

}

.experiences  {
		grid-area: experiences;
}

.formations  {
		grid-area: formations;
}

.competences  {
		grid-area: competences;
}

/*Grille experiences*/
.detailexperiences {
 			display: grid;
 			grid-template-columns: 2fr 3fr 2fr ;  
 			grid-row-gap: 0.5rem;
 			grid-column-gap: 4rem;
 			grid-auto-rows: auto;
}


/*Grille formations*/
.detailformations {
 			display: grid;
 			grid-template-columns: 2fr 3fr 2fr ;  
 			grid-row-gap: 0.5rem;
 			grid-column-gap: 4rem;
 			grid-auto-rows: auto;
}

/*Grille competences*/
.detailcompetences {
 			display: grid;
 			grid-template-columns: 2fr 3fr 2fr ;  
 			grid-row-gap: 0.5rem;
 			grid-column-gap: 4rem;
 			grid-auto-rows: auto;
}
