@font-face {
    font-family: "MontserratRegular"; 
    src: url("fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
    font-family: "MontserratBold"; 
    src: url("fonts/Montserrat-Bold.otf") format("truetype");
}

body {
	font-family:"MontserratRegular";
	font-size: 18px;
	color: #221c89;
	max-width: 100%;
	margin: 100px;
	line-height: 1;
}


li { 
 	margin: 0; 
 	padding: 0;
 	 list-style-type: none;
 }


h1 {
	font-family: "MontserratBold";
	font-size: 2em;
	color: #fbd2ae
}

h2 {
	font-family: "MontserratBold";
	font-size: 1.5em;
	color: #221c89 
}


.wrapper {
 			display: grid;
 			grid-template-columns: 150px 1fr 1fr; 
 			grid-template-rows: 150px 1fr 1fr 1fr 1fr; 
 			grid-row-gap: 1rem;
 			grid-column-gap: 5rem;
 			grid-auto-flow: column;
}

.titre {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		text-align: center;
		
}

.photo {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		align-items: left;
}

.titre1 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		
}

.contact {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		text-align: justify;
}

.titre2 {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		
}

.apropos {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		text-align: justify;
}

.titre3 {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
}

.date {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
}

.poste {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
}

.entreprise {
		grid-column: 3 / 4;
		grid-row: 3 / 4;
}

.titre4  {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
}


.date2  {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
}

.diplome  {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
}

.etablissement  {
		grid-column: 3 / 4;
		grid-row: 4 / 5;
}


.langue  {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
}

.logiciel  {
		grid-column: 2 / 3;
		grid-row: 5 / 6;
}

.mission  {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
}


